<div id="round">
  <% if @game_over %>
    <p>The game has ended.</p>

    <% if @game_winner %>
      <p>
        Highest score:
        <strong><%= @game_winner %></strong>
        with <%= @game_winner_score %> point<%= @game_winner_score == 1 ? '' : 's' %>.
      </p>
    <% else %>
      <p>No winner this time.</p>
    <% end %>
  <% elsif @round.ended? %>
    <p>And the winner is…</p>

    <% if @winning_submission %>
      <div class="card winner">
        <div class="card-body">
          <%= formatted_card @winning_submission.card %>
        </div>
      </div>

      <p>
        Card Czar <%= @round.czar %> chose
        <strong><%= @winning_submission.player %></strong>'s
        tasteless card.

        <% unless @game.mc_czar_option? %>
          The next Card Czar is
          <strong><%= @game.next_czar %></strong>.
        <% end %>
      </p>
    <% else %>
      <p>
        <strong>No one.</strong>
        The next Card Czar is
        <strong><%= @game.next_czar %></strong>.
      </p>
    <% end %>

    <% if @current_player == @game.next_czar %>
      <h2>
        <strong>
          <%= button_to "I'm ready",
            game_round_path(@game),
            class: 'btn btn-primary btn-lg btn-block'
          %>
        </strong>
      </h2>
    <% end %>
  <% end %>
</div>
