<!DOCTYPE html>
<html>
  <head>
    <title>Cards Against Filipinos Online 🇵🇭</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'application/favicon' %>
  </head>

  <body>
    <nav class="navbar">
      <a class="navbar-brand" href="/">🇵🇭 Cards Against Filipinos</a>
    </nav>

    <main role="main">
      <%= yield %>
    </main>

    <footer class="container small text-muted text-center">
      <div class='divider'></div>
      <p>
        <% if @current_player %>
          <%= link_to 'Click here to sign out',
            @current_player,
            method: :delete,
            data: { confirm: 'Are you sure you want to sign out?' }
          %>.
        <% end %>
      </p>
      <p>
        Put together by
        <a href="https://kevinbongart.net" target="_blank">Kevin Bongart</a>
        so he could play his beloved game with friends during tough times.

        Not affiliated with the official
        <a href="https://cardsagainsthumanity.com" target="_blank">Cards Against Humanity</a>
        company, but you should absolutely
        <a href="https://store.cardsagainsthumanity.com" target="_blank">buy their game</a> because it is a lot more fun in person.

        Remixed under
        <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/" target="_blank">Creative Commons BY-NC-SA 2.0 license</a>.
      </p>
      <p>
        Customized by <a href="https://linktr.ee/formidablefrank" target="_blank">J Franco Ray</a>.
        Check out the <a href="https://github.com/formidablefrank/cards_against_humanity/tree/dev" target="_blank">source code on GitHub</a>.
      </p>
    </footer>
  </body>
</html>
